.about {
    padding-top: 100px;
    margin: 0 auto;

    &  > div {
        display: flex;
        margin:0 auto;
        align-items:center;
        justify-content:space-around;
        flex-wrap:wrap;
        position: relative;
    }

    &-container{
        width: 30%;
        display: flex;
        flex-direction: column;
        padding: 20px 40px;

        &-hero {
            display: flex;
            align-items:center;
        }
       
        & h1 {
            font: 20px Segoe UI bold;
            white-space: nowrap;

           
        }
        & h3 {
            font: 16px Segoe UI Semibold;
            white-space: nowrap;
            
        }
        & p {
            font: 14px Segoe UI regular;

        }
        

     
    }
    &-flex {
        flex-direction: row;
        width: 33%;
        justify-content: space-around;
        align-items: flex-end;

        
    }
    &-divider {
        padding: 10px 0px;
    }
    &-icon {
        width:11%;
        margin-left: 5px;

        & img {
            width: 100%;
        }
    }
    &-img {
        width: 40%;
        padding-right: 10px;

        & img {
            width: 100%;
        }
    }
    &-hero {
        background: white;
        padding: 0px 10px;

        & h2 {
            font: 24px Segoe UI bold;
            color:#6E2169;
        }
    }
    &-wrapper {
        & > div {
        display: flex;
        }
    }
    &-hr{
        width: 95%;
        position: absolute;
        top: 50%;
        display: block;
        z-index: -1;
        /* background: red; */
    }

}
